/* CSS code for the fonts integration
** added by criscom
** this file contains general font declarations that apply to fonts across the site
1. UBUNTU MEDIUM 18PT
2. OSWALD BOLD 44PT
3. UBUNTU LIGHT 18PT / LINE-HEIGHT 24
4. OSWALD BOLD 30PT
5. UBUNTU BOLD 24PT
6. UBUNTU LIGHT 24PT

*/

h1,
h2,
h2 a,
h3
{
    text-transform: uppercase;

    @extend %header-large;
}

// All paragraphs with the 'p' tag
// UBUNTU LIGHT 18PT
// Font weight: 300;
p
{
    @extend %base-font;
    @extend %base-weight;
}

div.download-file a
        {
            @extend .inline-link;
            @extend %base-font;
        }

// all inline links within a div tag

.inline-link
{
    @include link-colors($normal: $red, $hover: black, $visited: lighten($red, 10%));
    @extend %medium-weight;
}

.not-front div p a
{
    @extend .inline-link;
}

// film header

.film-header
{
    font-size: 1.875 * $base-font-size;

    margin-top: 0;
    margin-bottom: 8px;
    margin-bottom: .5rem;

    text-transform: lowercase;

    color: red;
}
