/* CSS code for the footer region
** added by criscom
** 
*/

// footer logo
#block-block-5
{
    clear: both;
    h3
    {
        position: relative;
        right: 0;

        display: block;
        float: right;

        width: 107px;
        height: 107px;
        margin-bottom: -12px;
        margin-bottom: -.75rem;

        background-image: image-url('logo-trickywomen-footer.png');
        background-size: 107px 107px;

        @include hide-text;
    }
}

footer
{
    background-color: $black;
    .footer-links
    {
        ul
        {
            margin-top: -6px;
            margin-top: -.375rem;

            @include breakpoint($iphone4landscape)
            {
                margin-top: 0;
            }
            li
            {
                display: inline;
                a
                {
                    @include link-colors($normal: white, $hover: red, $visited: darken(white, 10%));
                }
            }
        }
    }
}

// impressum

.footer-links
{
    position: relative;
}

li.impressum
{
    position: relative;
    top: 24px;
    top: 1.25rem;

    margin-right: 40px;
    margin-right: 2.5rem;

    @include breakpoint($iphone4landscape)
    {
        margin-right: 16px;
        margin-right: 1rem;
    }
    a
    {
        text-decoration: none;
        text-transform: uppercase;
    }
}

li.impressum
{
    margin-left: 40px;
    margin-left: 2.5rem;

    @include breakpoint($iphone4landscape)
    {
        margin-left: 0;
    }
}

// sprites

@include all-icons-sprites;

li.facebook,
li.vimeo,
li.twitter
{
    display: inline-block !important;

    padding: 12px;
    padding: .75rem;

    background-color: white;
    a
    {
        display: block;

        @include hide-text;
    }
}

li.facebook
{
    // padding-left: 1.125rem;
    margin-right: 18px;
    margin-right: 1.125rem;
    padding-right: 22px;
    // padding-right: 1.125rem;
    padding-left: 22px !important;

    @include breakpoint($iphone4landscape)
    {
        margin-right: 12px;
        margin-right: .75rem;
        padding-top: 18px;
    }
    a
    {
        width: 25px;
        height: 45px;

        @extend .icons-facebook;
    }
}

li.twitter
{
    padding-bottom: 18px;
    padding-bottom: 1.125rem;
    margin-left: 18px;
    margin-left: 1.125rem;
    a
    {
        width: 45px;
        height: 39px;

        @extend .icons-twitter;
    }
}

li.vimeo
{
    padding-top: 18px;
    padding-bottom: 18px;
    a
    {
        width: 45px;
        height: 39px;

        @extend .icons-vimeo;
    }
}
