/* CSS code for the header section
** added by criscom
** on all pages
** different header heights for frontpage and other pages
** no drupal logo in use
*/

.header
{
    .not-front &,
    .front &
    {
        @include breakpoint($mobile)
        {
            height: 120px;

            background-image: image-url('header-568.png');
            background-repeat: no-repeat;
            background-position: center top;
        }
        @include breakpoint($tablet)
        {
            height: 120px;

            background-image: image-url('header-768.png');
            background-repeat: no-repeat;
            background-position: center top;
        }
        @include breakpoint($desktop)
        {
            height: 200px;

            background-color: black;
            background-image: image-url('header-980.png');
            background-repeat: no-repeat;
            background-position: center top;
        }
        @include breakpoint($large) // min-width 980px;
        {
            // height: 120px;
            background-image: image-url('header-1200.png');
            background-repeat: no-repeat;
            background-position: center top;
        }
        @include breakpoint($xlarge) // min-width 1200px;
        {
            // height: 120px;
            background-image: image-url('header-1900.png');
            background-repeat: no-repeat;
            background-position: center top;
        }
    }
}


.header__site-name,
.header__site-slogan
{
    @include hide-text;
}
