/* CSS code for the language switcher
** added by criscom
** on all pages
*/

.block-locale {
    float: right;
}

ul.language-switcher-locale-url
{
    @include no-bullets;
    li
    {
        display: inline;
        &.first:after {
            content: " | ";
            color: white;
        }
        a
        {
            color: white;
            @extend %base-font;
            @extend %medium-weight;
            @include link-colors($normal: white, $hover: $red, $active: $red);
            text-decoration: none;
        }
    }
}
