/* CSS code for partnerinnen landing page
** added by criscom
** /de/partnerinnen/partnerinnen/2015
** 
*/

.section-partnerinnen .block-views,
.section-partners .block-views
{
        .views-row
    {
        // float: left;
        width: 100%;
        // padding-top: 20px;
        // padding-top: 1.25rem;
        // padding-bottom: 20px;
        // padding-bottom: 1.25rem;

        border-top: 1px solid black;
    }
    h2
    {
        a
        {
            text-decoration: none;
            font-size: $h2-landing-page;
            @include link-colors($normal: black, $hover: $red);
        }
    }
    .block__title {
        clear: both;
        font-size: 1.5 * $base-font-size;
        padding-top: 48px;
        padding-top: 3rem;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
        #block-views-partnerinnen-block-1 & {
            padding-top: 0;
        }
    }

    @include breakpoint($desktop) // 2 columns on iPad and desktop
    {
        .views-row
        {
            float: left;

            width: 30%;
            // padding-top: 24px;
            // padding-top: 1.5rem;
            // padding-bottom: 24px;
            // padding-bottom: 1.5rem;
            // border-top: 1px solid black;
        }
        .views-row-1, .views-row-4, .views-row-7, .views-row-10, .views-row-13, .views-row-16, 
        .views-row-19, .views-row-22, .views-row-25, .views-row-28, .views-row-31, .views-row-34, 
        .views-row-37, .views-row-40, .views-row-41
        {
            clear: left;

            margin-right: 2%;
        }.views-row-2,.views-row-5,.views-row-8,.views-row-11,.views-row-14,.views-row-17,
        .views-row-20,.views-row-23,.views-row-26,.views-row-29,.views-row-32,.views-row-35,
        .views-row-40,.views-row-41,.views-row-42
        {
            margin-right: 3%;
            margin-left: 3%;
        }.views-row-3,.views-row-6,.views-row-9,.views-row-12,.views-row-15,.views-row-18,
        .views-row-21,.views-row-24,.views-row-27,.views-row-30,.views-row-33,.views-row-36,
        .views-row-39,.views-row-42,.views-row-43
        {
            margin-left: 2%;
        }
        .views-row-last
        {
            padding-bottom: 0;
        }
        .field-name-body p
        {
            a
            {
                text-transform: uppercase;
            }
        }
    }
}
