/* CSS code for festival landing page
** added by criscom
** /de/programm/2015
** http://www.ulla.at/download/tricky/TW_web3.jpg
*/

.view-program-landing-page
{
    @include breakpoint($tablet) // 2 columns on iPad and desktop
    {
        .views-row
        {
            float: left;

            width: 30%;
            padding-top: 24px;
            padding-top: 1.5rem;
            padding-bottom: 24px;
            padding-bottom: 1.5rem;

            border-top: 1px solid black;
        }
        .views-row-1, .views-row-4, .views-row-7, .views-row-10, .views-row-13, .views-row-16, .views-row-19, .views-row-22
        {
            margin-right: 2%;
            clear: left;
        }
        .views-row-2, .views-row-5, .views-row-8, .views-row-11, .views-row-14, .views-row-17, .views-row-20, .views-row-23
        {
            margin-right: 3%;
            margin-left: 3%;
        }
        .views-row-3, .views-row-6, .views-row-9, .views-row-12, .views-row-15, .views-row-18, .views-row-21, .views-row-24
        {
            margin-left: 2%;
        }
       
        .views-row-last
        {
            padding-bottom: 0;
        }
        .field-name-body p
        {
            a
            {
                text-transform: uppercase;
            }
        }
    }
    h2
    {
        a
        {
            text-decoration: none;

            @include link-colors($normal: black, $hover: $red);
        }
    }
}
