/* CSS code for the shop form
** added by criscom
** URL: /de/shop
*/

.section-shop
{
    fieldset
    {
        input,
        select,
        textarea
        {
            width: 96%;
        }
    }
    label {
        a{
                @include link-colors($normal: red, $hover: black);}
    }
}

.view-unsere-weine
{
    @include breakpoint($mobile)
    {
        .view-field-field-image
        {
            float: right;

            width: 100%;
            margin-right: 0;
        }
    }
    @include breakpoint($tablet)
    {
        .views-field-field-image
        {
            float: left;

            width: 30%;
            margin-right: 2%;
        }
    }
    @include breakpoint($desktop)
    {
        .views-field-body,
        .order-wrapper
        {
            padding-left: 32%;
        }
    }
    .views-row
    {
        clear: both;

        padding-top: 24px;
        padding-top: 1.5rem;
        padding-bottom: 24px;
        padding-bottom: 1.5rem;

        border-bottom: 1px solid black;
    }
    .views-row-first
    {
        margin-top: 48px;
        margin-top: 3rem;

        border-top: 1px solid black;
    }
    .views-row-last
    {
        margin-bottom: 48px;
        margin-bottom: 3rem;
    }
    h2
    {
        font-size: 1.5 * $base-font-size;

        margin-top: 0;

        text-transform: none;

        @extend %base-weight;
    }
    .field-name-body,
    .field-content
    {
        @extend %base-weight;
    }
    .order-wrapper
    {
        .inline-label
        {
            display: none;
        }
    }
}
