/* CSS code for wettbewerb landing page
** added by criscom
** /de/programm/wettbewerb-1
// CSS code for archiv landing page
// http://www.trickywomen.at/de/tricky-women-2001-2014
** http://www.ulla.at/download/tricky/TW_web4.jpg
*/

.node-program-teaser,
.page-node-1072, // Archive landing page DE
.page-node-1114 // Archive landing page EN
{
    .group-header
    {
        margin-bottom: 24px;
        margin-bottom: 1.5rem;

        h2 {
            margin-top: 0;
            margin-bottom: 15px;
            margin-bottom: 0.9375rem;
        }
    }
    .views-row
    {
        padding-top: 24px;
        padding-top: 1.5rem;
        padding-bottom: 24px;
        padding-bottom: 1.5rem;

        border-top: 1px solid black;
    .group-left {
        float: left;
        width: 100%
    }
    .group-right {
        float: right;
        width: 100%;
    }

    .more-link {
        display: block;
        text-align: left;
        line-height: 24px;
        font-size: 18px;
        margin-top: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $red;
    }

    @include breakpoint($tablet) // 2 columns on iPad and desktop
    {
        .group-left
        {
            width: 30%;
        }
        .group-right
        {
            width: 68%;
            margin-left: 2%;
        }
    }
    }
    .group-right h2
    {
        @extend .film-header;
    }
    .group-film-details-wrapper
    {
        .field
        {
            display: inline-block;

            padding-right: 8px;
            padding-right: .5rem;

            @extend %base-weight;
        }
        .field-name-field-artist-text
        {
            @extend %bold-weight;
        }
    }
    .field-name-body
    {
        @extend %base-weight;
    }
    .field-name-node-link, .field-name-field-video-embed
    {
        margin-top: 16px;
        margin-top: 1rem;
        a
        {
            text-transform: uppercase;

            @extend %base-weight;
            @include link-colors($normal: black, $hover: $red);
        }
    }
    h2
    {
        // margin-bottom: 0;
    }
    .field-name-field-datum-und-uhrzeit
    {
        span
        {
            display: block;

            color: $red;
        }
    }
}
