/* SASS placeholders
** added by criscom
** use the @extend directive to extend with placeholders
*/

%base-font
{
    font-size: 18px;
    font-size: 1.125rem;
}

%base-weight {
    font-weight: 300;
}

%medium-weight {
    font-weight: 500;
}

%bold-weight {
    font-weight: 700;
}

%header-large
{
    font-family: $oswald;
    font-size: 44px;
    font-size: 2.75 * $base-font-size;
    font-weight: 700;
}
